
.gitignore


# folders

baloofileinformationrc
cfg_backups
Code
dconf
dolphinrc
dunst
github-copilot
google-chrome
gtk-3.0
hypr
kdeglobals
kde.org
kitty
Kvantum
#lf
#lf-ueberzug
mimeapps.list
#mpv
ncmpcpp
neofetch
#nvim
nwg-look
pulse
qt5ct
rofi
session
#starship
starship.toml
swappy
swaylock
swww
systemd
#tmux
waybar
wlogout
xsettingsd
yay
#zathura
#zsh
